* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,
section h2,
section h3,
form button{
    font-family: "Jacquard 12", system-ui;
    font-weight: normal;
    font-size: larger;
}

h1{
    font-size: 60px;
}
body,
input,
textarea{
    font-family: "Roboto", sans-serif;
}
header {
    padding: 16px 0;
    background-color: #d0ab7a;
    color:#ecf0f1 ;
}
header nav li {
    display: inline;
    margin-left: 16px;
    font: size 20px;;

}
header nav li a {
    color: #ecf0f1; 
    text-decoration: none;   
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skils-list img {
    height: 130px;
    margin-right: 8px;
}
.skils-list li {
    display: inline;
}

section .container {
    align-items: flex-start;
}
section {
    padding: 24px 0;
    color:#d0ab7a;
}
section h2 {
    margin-bottom: 16px;
}
section p {
    margin-bottom: 8px;
}
.store-img {
    margin-right: 32px;
}
.social-links img{
height: 24px;
}
.social-links li{
    display: inline;
    margin-right: 8px;
}
.social-links li a {
    text-decoration: none;
}
#contact .container {
    display: block;
}
.contact-methods{
    display: flex;
    justify-content: space-between;
}
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
form textarea {
    resize: none;
    height: 180px;
}
section h3 {
    margin-bottom: 16px;
}
form button {
    background-color: #d0ab7a;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}
form button :hover {
    background-color: #ecf0f1;
    color: #d0ab7a;
}

input:focus, textarea:focus {
    outline-color:#d0ab7a ;
}

footer {
    background-color: #d0ab7a;
    color: #ecf0f1;
    padding: 16px 0;
}
